{#register#}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>注册</title>
</head>
<body>
    <div style="text-align: center">
        <form action="/user/register/" method="post">
        	{% csrf_token %}
            <label for="id_username">用户名</label>
            <input id="id_username" name="username" type="text">
            <br>
            <label for="id_password">密码</label>
            <input id="id_password" name="password" type="password">
            <button type="submit">提交</button>
        </form>
    </div>
</body>
</html>
